{{> header}}
  <h2>Chào mừng {{email}}!</h2>
  <p>
    Cảm ơn bạn đã đăng ký. Vui lòng xác nhận email của bạn bằng cách nhấp
    vào nút bên dưới:
  </p>

  <div class="flex-center">
    <a class='btn' href='https://your-app.com/confirm?token={{token}}'>
      Xác nhận Email
    </a>
  </div>

  <p>Nếu bạn không yêu cầu điều này, bạn có thể bỏ qua email này.</p>
{{> footer}}